.signUpForm {
  display: flex;
  flex-direction: column;
}
.SignUpButton {
  height: 30px;
  width: 150px;
  background-color: rgb(231, 184, 15);
  border: none;
  border-radius: 5px;
  margin-top: 15px;
}
.mainSignUpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.SignUpContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  background-color: white;
  width: 120vh;
  height: 50%;
  border-radius: 1%;
}
.signUpImage {
  margin: 3%;
  border-radius: 5px;
  height: 500px;
}
.signUpContainer1 {
  display: flex;
  flex-direction: row;
}
.signUpContainer2 {
  margin-left: 3%;
  margin-top: 40px;
}
.input {
  height: 30px;
  width: 180%;
  margin-top: 10px;
  border: 1px solid grey;
}

.input:focus {
  border: 1px solid grey;
  box-shadow: 0 0 5px grey;
  outline: none;
}
.loginLink {
  color: black;
}
@media (min-width: 1300px) {
  .SignUpContainer {
    width: 100vh;
  }
}
@media (max-width: 768px) {
  .signUpContainer1 {
    width: 375px;
  }
  .SignUpContainer {
    align-items: center;
    margin-left: 20px;
  }
  .input {
    width: 100%;
  }
  .signUpImage {
    width: 150px;
  }
}
