.navbar {
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;

  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;

  top: 0;
  left: 0;
}
.budgetTrackerNavbar {
  background-color: white !important;
}
.logo {
  height: 50px;
  width: 60px;
}

.user-menu {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.user-logo {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  display: block;
  position: absolute;
  top: 60px;
  right: 0;
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1000;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}

.budgetTrackerLink {
  text-decoration: none;
  color: black;
  margin-top: 15px;
  font-weight: 500;
}

.navbarStart {
  display: flex;
  width: 100%;
}

.email {
  font-weight: 500;
}

.signup {
  width: 20vh;
}
@media (max-width: 768px) {
  .navbar {
    width: 52vh;
  }
}
