.budgetChartContainer {
  background: white;
  border-radius: 10px;
  width: 180vh;
  padding: 20px;
}
.budgetChartMainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.filterOptions {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filterOptions p {
  cursor: pointer;
  color: rgb(108, 106, 106);
  position: relative;
  padding-bottom: 5px;
}

.filterOptions p:hover {
  color: black;
}

.activeFilter {
  color: black;
}

.activeFilter::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;

  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 768px) {
  .budgetChartContainer {
    width: 85%;
    margin-left: 20px;
  }
  .filterOption,
  .activeFilter {
    font-size: 13px;
  }
  .budgetAnalyticsHeading {
    font-size: 20px;
  }
  .activeFilter::after {
    width: 100%;
  }
  .filterOptions {
    gap: 5px;
  }
}
