.mainBugetContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.budgetContainer1 {
  background-color: white;

  border-radius: 10px;
  margin-top: 2%;
}
.budgetTable {
  border-collapse: collapse;
  margin: 20px;
  width: 164vh;
  border: 1px solid #ddd;

  table-layout: fixed;
}

.budgetTable th,
.budgetTable td {
  border-top: 1px solid #ddd;
  padding: 10px;
  margin: 0;
  text-align: left;
}

.budgetTable th {
  font-weight: bold;
}

.budgetTable td {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.budgetContainerTop {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  margin: 25px;
}
.addBtn {
  height: 50px;
  width: 150px;
  background-color: black;
  border: none;
  color: white;
  border-radius: 5px;
  margin-top: 15px;
}
.filterRecordButton {
  height: 50px;
  width: 110px;
  background-color: rgb(231, 184, 15);
  margin-top: 15px;
  border: none;
  color: black;
  border-radius: 5px;
}
.dateInput {
  height: 45px;
  margin-top: 15px;

  width: 100%;
}
.addContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1001;
  width: 40%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.darkBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.addFormContainer {
  display: flex;
  flex-direction: column;
}
.addInput {
  height: 40px;

  width: 100%;
  margin-bottom: 8px;
}
.submitButton {
  height: 30px;
  width: 150px;
  background-color: black;
  border: none;
  color: white;
  margin-top: 15px;
}
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.crossIcon {
  height: 5%;
  margin-top: 3%;
  width: 5%;
}
.addBudgetTop {
  display: flex;
  justify-content: space-between;
}
.actionsDropdown {
  position: relative;
  display: inline-block;
}
.actionsButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
  margin: 0;
}
.actionsMenu {
  position: absolute;
  right: 0;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 100px;
}

.actionsMenu button {
  background: none;
  border: none;
  padding: 10px;
  text-align: left;
  width: 100%;
  cursor: pointer;
}
.actionsMenu button:hover {
  background-color: #f1f1f1;
}
.icons {
  margin-left: 10px;
}
.paginationControls {
  display: flex;

  align-items: flex-end;
  justify-content: flex-end;
  margin: 20px;
}

.paginationButton {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.paginationButton.disabled {
  filter: grayscale(100%);
  cursor: not-allowed;
  opacity: 0.5;
}

.paginationSelect {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  color: #333;

  cursor: pointer;
}

.paginationSelect:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(38, 143, 255, 0.2);
}

.paginationInfo {
  font-size: 16px;
  color: #333;
  margin-bottom: 7px;
}
.filteredItems {
  margin-left: 22px;
}
.resetFilterBtn {
  height: 50px;
  width: 110px;
  background-color: red;
  border: none;
  color: white;
  border-radius: 5px;
  margin-top: 15px;
}
.btnsContainer {
  display: flex;
  flex-direction: row;
  gap: 2%;
}
@media (max-width: 768px) {
  .budgetTable {
    width: 100%;
    margin: 0;
  }
  .budgetContainer1 {
    margin-left: 20px;
    width: 90%;
  }
  .addBtn {
    height: 40px;
    width: 100px;
  }
  .filterRecordButton {
    height: 40px;
    width: 95px;
  }
  .resetFilterBtn {
    height: 30px;
    width: 100px;
  }
  .dateInput {
    height: 100%;
    width: 100%;
  }
  .icons {
    margin-left: 5px;
  }
  .btnsContainer {
    display: flex;
    flex-direction: column;
    gap: 0%;
  }
}
