.about-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #93a8ee, #b09cca);

  padding: 20px;
}

.about-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 10px 0 0 10px;
}

.about-content {
  padding: 20px;
  flex: 1;
}

.about-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
  /* background: #bcbdc1; */
}

.about-description {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  text-align: justify;
}
