.skills-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #bfcbf3;

  padding: 20px;
}

.skills-container {
  max-width: 800px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.skills-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  /* background: #bcbdc1; */

  text-align: center;
}

.skill-item {
  margin-bottom: 15px;
}

.skill-name {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 5px;
}

.skill-bar {
  background: #e0e0e0;
  border-radius: 5px;
  height: 20px;
  position: relative;
  width: 100%;
}

.skill-progress {
  background: #4caf50;
  height: 100%;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  position: absolute;
  left: 0;
  top: 0;
}
